*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: #094e4d;
  padding: 20px;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items:center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-form input{
  width: 45%;
  padding: 10px 0;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  text-align: center;
  color: #06a59d;
  font-size: 15px;
  letter-spacing: 1px;
}

.search-form button{
  width: 15%;
  border: 2px solid #8d8a8a;
  border-radius: 6px;
  background-color: #0e7c70;
  margin: 20px 0;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 5px #fff;
}

.search-form button:hover{
  box-shadow: 0px 0px 5px rgb(192, 187, 187);
  scale: 0.98;
  cursor: pointer;
}


.main{
  width: 98%;
  border: 3px solid #ccc;
  background-color: #094e4d;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}


.content{
  width: 96%;
  border: 3px solid #ccc;
  background-color: #094e4d;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px auto;
  cursor: pointer;
}


.food{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 270px;
  border: 2px solid #ccc;
  border-radius: 4px 50% 4px 50%;
  padding: 15px;
  overflow: hidden;
  background-color: rgb(1 62 59 / 91%);
  transition: all 0.5s ease-in-out;
}

.RecipeDetails{
  color: #ffffff;
  width: 45%;
  height: 40vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: auto 0;
}

/* .recipe{
  height: 26px;
  overflow-y: auto;
  margin-top: 8px;
  color: #ffffff;
} */

.content:nth-of-type(even){
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  flex-direction: row-reverse;
}

.content:nth-of-type(even)>.food{
  width: 45%;
  border-radius: 50% 4px 50% 4px;
  background-color: rgb(3 110 93 / 91%);
}

/* .content:nth-of-type(even)>.RecipeDetails{
  width: 45%;
  border-radius: 50% 4px 50% 4px;
  background-color: rgb(3 110 93 / 91%);
} */

.content:hover>.food{
  border-radius: 50% ;
}

.content:hover>.food>img{
  scale: .96;
}


.food h3{
  color: #e1c2ac;
  transition: all 0.5s ease-in-out;
}

.food p{
  color: #ffffff;
  margin: 10px 0;
  transition: all 0.5s ease-in-out;
}

.content:hover>.food>h3{
  color: #ffffff;
  font-size:1.3rem;
  color: rgb(247, 225, 26);
}

.content:hover>.food>p{
  color: #ffffff;
  font-size:1.2rem;
}

.food>img{
  width: 50%;
  height: 180px;
  border-radius: 6px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  transition: all 0.5s ease-in-out;
}

@media (max-width : 768px) {

  .search-form input {
    width: 60%;
  }

  .search-form button {
    width: 60%;
  }

  .content{
    display: block;
    width: 90%;
  }

  .food{
    width: 90%;
    margin: 10px auto;
  }

  .food h3 {
    font-size: 15px;
  }

  .content:hover>.food>h3{
    font-size:.96rem;
  }

  .RecipeDetails{
    width: 90%;
    margin: 0 auto;
  }

  .content:nth-of-type(even){
    display: block;
  }
  
  .content:nth-of-type(even)>.food{
    width: 90%;
  }

}


@media (min-width : 768px) and (max-width : 1200px) {

  .search-form input {
    width: 60%;
  }

  .search-form button {
    width: 60%;
  }

  .content{
    display: flex;
    width: 93%;
  }

  .food{
    margin: 10px auto;
  }

  .RecipeDetails{
    margin: auto 0;
  }

  .content:nth-of-type(even){
    display: flex;
  }
  

}
